<h2>Listing flowers</h2>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flowers.each do |flower| %>
  <% @backgroundcolor = "lightgrey" %>
  <% humidity = getHumidity(flower, @feed) %>
  <div class = "span12" style = "background-color:<%= humidityToColor(humidity.to_i()) %>; margin-bottom:10px">
    <div class = "span5" style ="padding-left:20px">
      <h3><%= flower.name %></h3>
    </div>

    <div class = "span4">
      <h1>
        <%= humidity %>
      </h1>
    </div>

    <div class = "span3" style = "margin-top:17px; text-align:center">
      <%= link_to 'График', flowers_path, :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New flower', new_flower_path %>
