<p id="notice"><%= notice %></p>

  <% create_chart %>  
  <div style = "position: absolute;width: 100%;left: 0;">
    <div id = "chart_container">
      <% @chart.series(:name=>'Цветочек', :data=> @parsed_data) %>

      <%= high_chart("chart_container", @chart) do |c| %>
        <%= raw "options.tooltip.formatter = function() {
                        return ''+
                        Highcharts.dateFormat('%e. %b %Y, %H:%m', this.x) +': '+ this.y +'%';
                }"  %>    
      <% end %>
    </div>
  </div>

  <div style = "height: 400px">
  </div>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
