<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
    	<title>Flower Keeper · <%= @title %></title>
    
    	<%= render 'layouts/stylesheets' %>
  	</head>

	<body>
    	<div class="container-narrow">

	      	<div class="masthead">
    	    	<ul class="nav nav-pills pull-right">
        	  		<li class="active"><a href="#">Главная</a></li>
          			<li><a href="#">Управление</a></li>
          			<li><a href="#">Настройки</a></li>
	        	</ul>
    	    	<h3 class="muted">Flower Keeper</h3>
	      	</div>

      		<hr>

          <div class="row-fluid marketing">
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>">
                <%= value %>
              </div>
            <% end %>
          </div>

      		<div class="row-fluid marketing">
        		<%= yield %>
      		</div>

      		<hr>

      		<div class="footer">
        		<p>© Nikita Vasiliev 2012</p>
      		</div>
    	</div> <!-- /container -->

    	<!-- Le javascript
    	================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<%= javascript_include_tag "application" %>
	</body>
</html>
